.background {
    width: 1470px;
    height: 680px;
    color:black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-image: url(background.jpg);
    background-size: cover;
}

.contents {
    width: 550px;
    height: 25px;
    border: 2px solid black;
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
    top: 5px;
    left: 900px;
    position: relative;
    word-spacing: 70px;
}

.restname {
    color: paleturquoise;
    font-family: Verdana;
    text-align: left;
    position: relative;
    font-size: 300%;
    top: -50px;
}

.line {
    color: beige;
    font-family: Verdana;
    text-align: left;
    position: relative;
    font-size: 250%;
    top: -120px;
    left: 10px;
}

.lines {
    color: white;
    font-family: Verdana;
    text-align: center;
    position: relative;
    font-size: 130%;
    top: -100px;
}

.image1 {
    position: relative;
    top: -90px;
    left: 100px;
    background-size:contain;
}

.image2 {
    position: relative;
    top: -390px;
    left: 800px;
    background-size:contain;
}

.copyrights{
    width: 1510px;
    height: 20px;
    background-color: gray;
    text-align: center;
    top: -330px;
    left: -20px;
    position: relative;
}
.footer {
    width: 1510px;
    height: 40px;
    background-color: darkgray;
    text-align: center;
    top: -320px;
    left: -20px;
    position: relative;
    padding: 10px;
    color: white;
    font-family: Verdana;
}

.header {
    width: 1470px;
    height: 60px;
    background-color: lightgray;
    text-align: center;
    position: relative;
    top: -20px;
    left: -20px;
    padding: 15px;
    font-family: Verdana;
}

.menu-item {
    width: 400px;
    height: 30px;
    border: 2px solid black;
    padding: 8px;
    background-color: lightblue;
    text-align: center;
    position: relative;
    font-family: Verdana;
    margin: 10px;
}